{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
    <style>
        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            content: " ";
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            text-align: center;
            opacity: .25;
            background-color: #dc3545 !important;
            border-radius: 50%;

        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            background-color: #dc3545 !important;
        }

        .slick-dots li.slick-active button {
            background: none !important;
        }

        .slick-dots li button.thumbnail img {
            width: 0;
            height: 0;
        }

    </style>
{% endblock %}

{% block javascript %}
<script>
    eccube.classCategories = {{ class_categories_as_json(Product)|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        {% if form.classcategory_id2 is defined %}
        fnSetClassCategories(
            $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
        );
        {% elseif form.classcategory_id1 is defined %}
        eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
        {% endif %}
    </script>
    <script>
        $(function() {
            // bfcache無効化
            $(window).bind('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });

            $('.item_visual').slick({
                dots: false,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        dots: true
                    }
                }]
            });

            $('.slideThumb').on('click', function() {
                var index = $(this).attr('data-index');
                $('.item_visual').slick('slickGoTo', index, false);
            })
        });
    </script>
    <script>
        $(function() {
            $('.add-cart').on('click', function(event) {
                {% if form.classcategory_id1 is defined %}
                // 規格1フォームの必須チェック
                if ($('#classcategory_id1').val() == '__unselected' || $('#classcategory_id1').val() == '') {
                    $('#classcategory_id1')[0].setCustomValidity('{{ 'front.product.product_class_unselected'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id1')[0].setCustomValidity('');
                }
                {% endif %}

                {% if form.classcategory_id2 is defined %}
                // 規格2フォームの必須チェック
                if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
                    $('#classcategory_id2')[0].setCustomValidity('{{ 'front.product.product_class_unselected'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id2')[0].setCustomValidity('');
                }
                {% endif %}

                // 個数フォームのチェック
                if ($('#quantity').val() < 1) {
                    $('#quantity')[0].setCustomValidity('{{ 'front.product.invalid_quantity'|trans }}');
                    alert('Please choose the quantity of product');
                    return true;
                } else {
                    $('#quantity')[0].setCustomValidity('');
                }

                event.preventDefault();
                $form = $('#form1');

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.modal_cart').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: "{{ url('block_cart') }}",
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                   alert('{{ 'front.product.add_cart_error'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });

            $('.selectVideo').on('change', function () {
                 var quantity = $("input[name='selectVideo[]']:checked").length;
                $('#quantity').val(quantity)
            })
        });

        $('.ec-modal-overlay, .ec-modal .ec-inlineBtn--cancel').on('click', function() {
            $('.modal_cart').hide()
        });

        function setVideoPlay(key) {
            var videoLink = $('#videoList' + key).val();
             $('#videoPlay').attr('src', videoLink)
        }


        $('#quantity').val({{ videos|length }})
    </script>
{% endblock %}

{% block main %}
    <div class="ec-productRole">
        <div class="breadcrum m-b-20">
            {% if Product.ProductCategories is not empty %}
                <div class="ec-productRole__category">
                    <ul>
                        <li>
                            {% for ProductCategory in Product.ProductCategories %}
                                {%- if loop.last %}
                                    {% for Category in ProductCategory.Category.path %}
                                        <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a>
                                        {%- if loop.last == false %}
                                            <span><i class="fa fa-angle-right"></i></span>
                                        {% endif -%}
                                    {% endfor %}
                                {% endif -%}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="row m-b-20 background-white">
            <div class="col-md-5 col-xs-12 padding-20">
                <div class="ec-sliderItemRole p-l-0 p-r-0">
                    <div class="item_visual">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slide-item"><img src="{{ asset(ProductImage, 'save_image') }}"></div>
                        {% else %}
                            <div class="slide-item"><img src="{{ asset(''|no_image_product, 'save_image') }}"/>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="item_nav">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slideThumb" data-index="{{ loop.index0 }}"><img
                                    src="{{ asset(ProductImage, 'save_image') }}"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 p-t-20">
                <div class="m-b-20">
                    <div class="ec-productRole__title">
                        <h2 class="ec-headingTitle">{{ Product.name }}</h2>
                    </div>
                    <div class="d-flex align-items-center background-grey padding-10">
                        {% if Product.hasProductClass -%}
                            {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                <div class="ec-price">
                                    <span class="ec-price__price">{{ Product.getPrice02IncTaxMin|price }}</span>
                                    <span class="ec-price__tax">({{ 'common.tax_include'|trans }})</span>
                                </div>
                            {% else %}
                                <div class="ec-price">
                                <span
                                    class="ec-price__price">{{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}</span>
                                    <span class="ec-price__tax">({{ 'common.tax_include'|trans }})</span>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="ec-price">
                                <span class="ec-price__price">{{ Product.getPrice02IncTaxMin|price }}</span>
                                <span class="ec-price__tax">({{ 'common.tax_include'|trans }})</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="background-grey padding-10 m-b-20">
                    <ul class="video-detail">
                        <li class="color-text fs-14">{{ videos|length }} 動画</li>
                        <li class="color-text fs-16">ダウンロードできません</li>
                    </ul>
                </div>
                <div class="flex items-center">
                    <span class="button-sns shareFB">
                        <i class="facebook fa fa-facebook-official"></i>
                    </span>
                    <span class="button-sns shareTW">
                        <i class="twitter fa fa-twitter"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 p-b-20">
                <div class="video-list background-white box-right">
                    {# video list #}
                    <div>
                        <ul>
                            {% for key, video in videos %}
                                <li class="m-b-5 li-video p-l-15">
                                    <p class="video-name">0{{ key + 1 }}. {{ video.name }}</p>
                                    <input type="checkbox" checked class="selectVideo" name="selectVideo[]"
                                           value="">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {# end video list #}
                    {# price #}
                    <div class="price-box-video p-l-15 p-t-15">
                        {% if Product.hasProductClass -%}
                            {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                <div class="ec-price">
                                    <span class="price-sale">{{ Product.getPrice02IncTaxMin|price }}</span>
                                    <span class="ec-price__tax">({{ 'common.tax_include'|trans }})</span>
                                </div>
                            {% else %}
                                <div class="ec-price">
                                <span
                                    class="price-sale">{{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}</span>
                                    <span class="ec-price__tax">({{ 'common.tax_include'|trans }})</span>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="ec-price">
                                <span class="price-sale">{{ Product.getPrice02IncTaxMin|price }}</span>
                                <span class="ec-price__tax">({{ 'common.tax_include'|trans }})</span>
                            </div>
                        {% endif %}
                    </div>
                    {# end price #}
                    <form action="{{ url('product_add_cart', {id:Product.id}) }}" method="post" id="form1"
                          name="form1">
                        {{ form_rest(form) }}
                        {% if Product.stock_find %}
                            <div class="ec-productRole__actions d-flex justify-content-center">
                                {% if form.classcategory_id1 is defined %}
                                    <div class="ec-select">
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                    </div>
                                    {% if form.classcategory_id2 is defined %}
                                        <div class="ec-select">
                                            {{ form_widget(form.classcategory_id2) }}
                                            {{ form_errors(form.classcategory_id2) }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="ec-productRole__actions d-flex justify-content-center">
                                <button type="button" class="ec-blockBtn--action add-cart">
                                    {{ 'front.product.add_cart'|trans }}
                                </button>
                            </div>
                        {% else %}
                            <div class="ec-productRole__actions d-flex justify-content-center">
                                <button type="submit" class="ec-blockBtn--action" disabled="disabled">
                                    {{ 'front.product.out_of_stock'|trans }}
                                </button>
                            </div>
                        {% endif %}
                    </form>
                    <div class="ec-modal modal_cart">
                        <div class="ec-modal-overlay">
                            <div class="ec-modal-wrap">
                                <span class="ec-modal-close"><span class="ec-icon"><img
                                            src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                <div id="ec-modal-header"
                                     class="text-center">{{ 'front.product.add_cart_complete'|trans }}</div>
                                <div class="ec-modal-box">
                                    <div class="ec-role">
                                            <span
                                                class="ec-inlineBtn--cancel">{{ 'front.product.continue'|trans }}</span>
                                        <a href="{{ url('cart') }}"
                                           class="ec-inlineBtn--action">{{ 'common.go_to_cart'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-20 background-white">
            <div class="col-12 box-des-product background-white padding-20">
                <div class="detail-title background-grey padding-20">詳細仕様</div>
                <div class="padding-20">
                    {{ Product.description_detail|raw|nl2br }}
                    {% if Product.freearea %}
                        <div class="ec-productRole__description">
                            {{ include(template_from_string(Product.freearea)) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 box-des-product background-white padding-20 product-review"></div>
            {% if isLogin %}
                <div class="background-white padding-20 w-100">
                    <button onclick="showModal()" type="button"
                            class="ec-inlineBtn--action">{{ 'product_review.front.product_detail.post_review'|trans }}</button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
