<div class="rental">
    <div class="wrap">
        <h2 class="title-area">ECリンク</h2>
        <div class="title-cont">
            <h3 class="title">ECリンク</h3>
            <a class="view-all" href="{{ url('product_list', {sale_type_id: 40, orderby: '2'}) }}">もっと見る ▶</a>
        </div>
        {% set ecLinkList = getTopECLink() %}
        <ul class="product__list">
            {% for index,Product in ecLinkList %}
            <li>
                <a {% if(Product.ec_link) %} target="_blank" {% endif %} href="{{ Product.ec_link ? Product.ec_link : '#' }}">
                    <div class="product__thumb">
                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                    </div>
                    <p class="product__name">{{ Product.name }}</p>
                    <p class="product__price">
                        {% if Product.hasProductClass %}
                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                {{ Product.getPrice02IncTaxMin|price }}
                            {% else %}
                                {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                            {% endif %}
                        {% else %}
                            {{ Product.getPrice02IncTaxMin|price }}
                        {% endif %}
                        円
                    </p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
