<div class="area__seminar">
    <div class="wrap">
        <h2 class="title-area">セミナー</h2>
        <div class="title-cont">
          <!--  <h3 class="title">おすすめセミナー</h3>-->
            <!-- <a class="view-all" href="http://rentio.vungpv.com/#">もっと見る ▶</a>-->
        </div>
        <div class="row seminar__list mb-5">
            <div class="col-12 col-sm-6 col-md-3 mb-2 mb-2">
                <a href="{{ url('product_detail', {id: 11}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/9177f3bf75374c388c117c4ef92ba695.jpg/v1/fill/w_240,h_160,al_c,q_90,usm_0.66_1.00_0.01/9177f3bf75374c388c117c4ef92ba695.webp" alt="">
                    </div>
                    <div class="seminar__name">【Vo.3】生涯現役のためのボディメイク「3S造形ボディ」</div>
                    <div class="seminar__time">
                        <span class="date">12月19日(土)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 12}) }}">
                    <div class="seminar__thumb"><img src="https://static.wixstatic.com/media/11062b_ec989553891b4253a9d44c93063a6996~mv2_d_3872_2592_s_4_2.jpg/v1/fill/w_950,h_636,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01/11062b_ec989553891b4253a9d44c93063a6996~mv2_d_3872_2592_s_4_2.webp" alt="">
                    </div>
                    <div class="seminar__name">アンチエイジングデトックスx腸活セミナー</div>
                    <div class="seminar__time">
                        <span class="date">12月19日(土)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2 mb-2">
                <a href="{{ url('product_detail', {id: 13}) }}">
                    <div class="seminar__thumb"><img src="https://static.wixstatic.com/media/6b197c3df956442f98893a0302d80de4.jpg/v1/fill/w_240,h_160,al_c,q_90,usm_0.66_1.00_0.01/6b197c3df956442f98893a0302d80de4.webp" alt="">
                    </div>
                    <div class="seminar__name">生涯現役のためのボディメイク「3S造形ボディ」</div>
                    <div class="seminar__time">
                        <span class="date">12月10日(木)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2 mb-2">
                <a href="{{ url('product_detail', {id: 14}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/11062b_43ec991e5bba4336957537953301ce2b~mv2.jpg/v1/fill/w_768,h_768,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01/11062b_43ec991e5bba4336957537953301ce2b~mv2.webp" alt="">
                    </div>
                    <div class="seminar__name">燃焼×流す×ゆるめる「小顔リフティング」</div>
                    <div class="seminar__time">
                        <span class="date">12月17日(木)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
        </div>
        <div class="title-cont">
            <h3 class="title">新着セミナー</h3>
            <!-- <a class="view-all" href="http://rentio.vungpv.com/#">もっと見る ▶</a>-->
        </div>
        <div class="row seminar__list mb-5">
            <div class="col-12 col-sm-6 col-md-3 mb-2 mb-2">
                <a href="{{ url('product_detail', {id: 15}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/11062b_0222dcd3055b4582a42282487d406e02~mv2.jpg/v1/fill/w_240,h_160,al_c,q_90,usm_0.66_1.00_0.01/11062b_0222dcd3055b4582a42282487d406e02~mv2.webp" alt="">
                    </div>
                    <div class="seminar__name">【Vo.2】生涯現役のためのボディメイク「3S造形ボディ」</div>
                    <div class="seminar__time">
                        <span class="date">12月16日(水)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 16}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/11062b_4329faa8a7184c0a948d7a5d216a9682~mv2.jpg/v1/fill/w_953,h_636,al_c,q_90,usm_0.66_1.00_0.01/11062b_4329faa8a7184c0a948d7a5d216a9682~mv2.webp" alt="">
                    </div>
                    <div class="seminar__name">炭酸美容ミニ講座オンライン <span style="opacity: 0">炭酸美容ミニ講座オンライン</span></div>
                    <div class="seminar__time">
                        <span class="date">12月19日(土)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 12}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/11062b_ec989553891b4253a9d44c93063a6996~mv2_d_3872_2592_s_4_2.jpg/v1/fill/w_950,h_636,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01/11062b_ec989553891b4253a9d44c93063a6996~mv2_d_3872_2592_s_4_2.webp" alt="">
                    </div>
                    <div class="seminar__name">アンチエイジングデトックスx腸活セミナー</div>
                    <div class="seminar__time">
                        <span class="date">12月19日(土)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2 mb-2">
                <a href="{{ url('product_detail', {id: 13}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/6b197c3df956442f98893a0302d80de4.jpg/v1/fill/w_240,h_160,al_c,q_90,usm_0.66_1.00_0.01/6b197c3df956442f98893a0302d80de4.webp" alt="">
                    </div>
                    <div class="seminar__name">生涯現役のためのボディメイク「3S造形ボディ」</div>
                    <div class="seminar__time">
                        <span class="date">12月10日(木)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
        </div>

        <div class="title-cont">
            <h3 class="title">最近開催予定</h3>
            <!-- <a class="view-all" href="http://rentio.vungpv.com/#">もっと見る ▶</a>-->
        </div>
        <div class="row seminar__list mb-5">
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 17}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/4b62b34c8f1e4dab94d466d1c57d22e7.jpg/v1/fill/w_768,h_768,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01/4b62b34c8f1e4dab94d466d1c57d22e7.webp" alt="">
                    </div>
                    <div class="seminar__name">結果を出し続ける為の痩身メニューに！バンテージセミナー</div>
                    <div class="seminar__time">
                        <span class="date">12月14日(月)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 18}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/42041be4bc264e28be4d63182da3e366.jpg/v1/fill/w_768,h_768,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01/42041be4bc264e28be4d63182da3e366.webp" alt="">
                    </div>
                    <div class="seminar__name">痩身＋3S美筋造形ボディ<span style="opacity: 0">炭酸美容ミニ講座オンライン</span></div>
                    <div class="seminar__time">
                        <span class="date">12月13日(日)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 12}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/11062b_ec989553891b4253a9d44c93063a6996~mv2_d_3872_2592_s_4_2.jpg/v1/fill/w_950,h_636,fp_0.50_0.50,q_90,usm_0.66_1.00_0.01/11062b_ec989553891b4253a9d44c93063a6996~mv2_d_3872_2592_s_4_2.webp" alt="">
                    </div>
                    <div class="seminar__name">アンチエイジングデトックスx腸活セミナー</div>
                    <div class="seminar__time">
                        <span class="date">12月19日(土)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2 mb-2">
                <a href="{{ url('product_detail', {id: 13}) }}">
                    <div class="seminar__thumb">
                        <img src="https://static.wixstatic.com/media/6b197c3df956442f98893a0302d80de4.jpg/v1/fill/w_240,h_160,al_c,q_90,usm_0.66_1.00_0.01/6b197c3df956442f98893a0302d80de4.webp" alt="">
                    </div>
                    <div class="seminar__name">生涯現役のためのボディメイク「3S造形ボディ」</div>
                    <div class="seminar__time">
                        <span class="date">12月10日(木)</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
        </div>

        <div class="title-cont">
            <h3 class="title">動画で学ぶ</h3>
            <!-- <a class="view-all" href="http://rentio.vungpv.com/#">もっと見る ▶</a>-->
        </div>
        <div class="row seminar__list mb-3">
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 19}) }}">
                    <div class="seminar__thumb _video">
                        <img src="{{ asset("assets/img/seminar/seminar-1.png") }}" alt="" />
                        <span class="video-time">12:34</span>
                    </div>
                    <div class="seminar__name">カジュアル前下がりレイヤー<span style="opacity: 0">フェードスタイル </span></div>
                    <div class="seminar__time">
                        <span class="date">10月21日（水）</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 20}) }}">
                    <div class="seminar__thumb _video">
                        <img src="{{ asset("assets/img/seminar/seminar-2.png") }}" alt="" />
                        <span class="video-time">12:34</span>
                    </div>
                    <div class="seminar__name">女子会で映える簡単にできるゆるふわアレンジ</div>
                    <div class="seminar__time">
                        <span class="date">10月21日（水）</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 21}) }}">
                    <div class="seminar__thumb _video">
                        <img src="{{ asset("assets/img/seminar/seminar-3.png") }}" alt="" />
                        <span class="video-time">12:34</span>
                    </div>
                    <div class="seminar__name">トップ短めの前髪を上げたウルフスタイル</div>
                    <div class="seminar__time">
                        <span class="date">10月21日（水）</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
            <div class="col-12 sol-sm-6 col-md-3 mb-2">
                <a href="{{ url('product_detail', {id: 22}) }}">
                    <div class="seminar__thumb _video">
                        <img src="{{ asset("assets/img/seminar/seminar-4.png") }}" alt="" />
                        <span class="video-time">12:34</span>
                    </div>
                    <div class="seminar__name">デザイン フェードスタイル <span style="opacity: 0">フェードスタイル </span></div>
                    <div class="seminar__time">
                        <span class="date">10月21日（水）</span>
                        <span class="schedule">他日程有</span>
                    </div>
                    <!-- <p class="seminar__ctg">カテゴリー／サブカテゴリー</p>-->
                </a>
            </div>
        </div>
    </div>
</div>
